,ID,MS,Mp,VFN,Mh,Man,MMS,TAN,T,Va,...,Fm,ec (cm3),ep (KW),z (Wh/km),It,Ernedc (g/km),Erwltp (g/km),De,Vf,r
0,3142422,PL,VW GROUP PC,NaN,SKODA,SKODA AUTO AS,SKODA AUTO AS,e8*2007/46*0317*00,3T,AACZEAX01,...,M,1395.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,1
1,13048320,BE,VW GROUP PC,NaN,SKODA,SKODA AUTO AS,SKODA,e8*2007/46*0272*03,NU,ACDADAX0,...,M,1498.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,9455476,DE,VW GROUP PC,IP-08-TMB-2018-2148,SKODA,SKODA AUTO AS,SKODA (CZ),e8*2007/46*0249*08,NS,ACDFHAX1,...,M,1968.0,140.0,NaN,NaN,NaN,NaN,NaN,0.0,1
3,3142534,PL,VW GROUP PC,NaN,SKODA,SKODA AUTO AS,SKODA AUTO AS,e8*2007/46*0317*00,3T,ACCZEAX01,...,M,1395.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,1
4,9349418,DE,VW GROUP PC,NaN,SKODA,SKODA AUTO AS,SKODA (CZ),e11*2001/116*0291*53,5J,ACCUSBX01,...,M,1422.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,1